<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Handy Helper 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/jobs">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <a href="/jobs"><button class="btn btn-light my-2 my-sm-0" type="submit">To Dashboard</button></a>
                <a href="/logout"><button class="btn btn-danger my-2 my-sm-0" type="submit">LogOut</button></a>

            </div>
        </nav>



        <h3>Hello <span style="color: red">{{live_user.first_name}}</span>!</h3>
        <p><a href="/jobs">Home</a> | <a href="#">New job!</a> | <a href="/logout">Logout</a></p>

        <h1> New Job</h1>
        <div class="row">
            <div class="col-md">
                <div class="col-md-4">
                    <form action="new/add" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form" value="register">

                        <section class='reg-info'>
                            <label for='l_name'>Title:</label>
                            <input type="text" name="title" class="form-control" id="">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.extra_tags == 'title' %}
                            <p class='error'>{{message}}</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </section>

                        <section class='reg-info'>
                            <label for='l_name'>Description</label>
                            <input type="text" name="desc" class="form-control">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.extra_tags == 'desc' %}
                            <p class='error'>{{message}}</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </section>

                        <section class='reg-info'>
                            <label for='l_name'>Location</label>
                            <input type="text" name="location" class="form-control">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.extra_tags == 'location' %}
                            <p class='error'>{{message}}</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </section>

                        <section class='reg-info'>

                            <input type="checkbox" name="category" value="Petcare" checked>Pet Care<br>
                            <input type="checkbox" name="category2" value="Garden"> Garden<br>
                            <input type="checkbox" name="category3" value="Electrical"> Electrical<br>
                            Other: <input type="text" name="other" class="form-control"><br>

                        </section>




                        <input type="submit" name="" value="Submit" id="" class="btn btn-primary">
                        <a href="/jobs">Cancel</a>
                    </form>



                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>